<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Comments</key>
	<dict>
		<key>StartTag</key>
		<string>#</string>
	</dict>
	<key>Name</key>
	<string>Tritium</string>
    
	<key>Attribute</key>
    <dict>
        <key>Hint</key>
        <string>$("./div"){ remove() }</string>
        <key>MoveCursor</key>
        <integer>2</integer>
        <key>ID</key>
        <string>$</string>
        <key>PostString</key>
        <string>(""){}</string>
        <key>string</key>
        <string>&#36;</string>
    </dict>
  </dict>
</plist>
